@model EquipmentApp.Models.Equipment

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moadat</title>
    <link rel="icon" type="image/png" href="~/imgs/logo-tab-bar2.png">
    <!-- normalize file -->

    <link href="~/Content/normalize.css" rel="stylesheet" />
    @*<link href="~/Content/Style1.css" rel="stylesheet" />*@


    <!-- style file -->

<link href="~/Content/MainStyle.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start Header -->
    <div class="header" id="header">
        <div class="container">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/imgs/logo.png" />
                </a>
                @if (User.Identity.IsAuthenticated)
                {

                    <ul>
                        <li id="megamenu-link">
                            <i class="fas fa-caret-down"></i>
                            <a href="#" target="_parent">@User.Identity.Name</a>
                            <div class="mega-menu">
                                <ul class="links">
                                    @if (!User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a href="~/Users/profile?id=@User.Identity.Name">
                                                <i class="far fa-user-circle"></i>
                                                معلوماتي
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a href="~/Users/Logout">
                                            <i class="fas fa-sign-out-alt"></i>
                                            تسجيل الخروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }

            </div>

            <ul class="main-nav">

                @if (User.Identity.IsAuthenticated)
                {


                    if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("تقارير البيع", "AllReports", "SaleTransactions")</li>
                        <li>@Html.ActionLink("تقارير الإيجار", "AllReports", "RentalRequests")</li>
                        <li>@Html.ActionLink("المسخدمين", "Index", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("طلبات البيع", "IndexForCustomer", "SaleTransactions")</li>
                        <li>@Html.ActionLink("طلبات الايجار", "IndexForCustomer", "RentalRequests")</li>
                        <li>@Html.ActionLink("عروضي", "IndexForCustomer", "Equipments")</li>
                    }



                }
                else
                {
                    <li>@Html.ActionLink("تسجيل", "Singup", "Users")</li>
                    <li>@Html.ActionLink("دخول", "Login", "Users")</li>
                }

                <li class="activ">@Html.ActionLink("الفئات", "Index", "Equipments")</li>
                <li>@Html.ActionLink("الصفحة الرئيسية", "home", "Users")</li>

            </ul>
        </div>
    </div>
    <!-- End Header -->
   
    <!-- Start ItemDetails-Page -->
<div class="itemdetails-page blue-section">
    <div class="left-side">
        <div class="box">
            <div class="top-section">
                <img src="~/Uploads/@Html.DisplayFor(model => model.Image)" alt="">
                <div class="account-info">
                    <img src="~/imgs/user-img1.jpg" />
                    <div class="person-info">
                        <p>@Html.DisplayFor(model => model.User.UserName)</p>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                            @Html.DisplayFor(model => model.User.Address)
                        </span>
                    </div>
                    <p>@Html.DisplayFor(model => model.Quantity) قطع/ ة  </p>
                </div>
            </div>
        </div>
        <div class="box">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <h4>التفاصيل:</h4>
            <div class="detail">
                @Html.DisplayFor(model => model.Description)
            </div>

        </div>
        @if (User.IsInRole("Admin"))
        {
    <button type="submit" class="offer-block-button" onclick="window.location.href='Delete?id=@Model.Id'">
        حـــذف
        <i class="fas fa-trash"></i>

    </button>
        }

    </div>
    @if (User.Identity.Name != Model.User.UserName)
    {
        <div class="right-side">
            <div class="box">
                <h2><span>@Html.DisplayFor(model => model.Price)</span> ر.ي / القطعة</h2>
                <form action="~/SaleTransactions/Create?id=@Model.Id" method="post" enctype="multipart/form-data">
                    @if (!string.IsNullOrEmpty(ViewBag.Message1))
                    {
                        <p style="color:red;text-align:center"> @ViewBag.Message1</p>
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Message2))
                    {
                        <p style="color:red;text-align:center"> @ViewBag.Message2</p>
                    }
                    <label for="">الكمية</label>
                    <input type="number" min="1" value="1" name="number" id="quantity">
                    <div class="order-sumary">
                        <div class="sumary-right">العدد المطلوب</div>
                        <div class="sumary-left" id="quantity-display">1</div>
                        <div class="sumary-right">اجمالي المبلغ</div>
                        <div class="sumary-left" id="price-display">@Html.DisplayFor(model => model.Price) ر.ي</div>
                    </div>
                    <input type="submit" class="booking-button" value="شراء">
                </form>
            </div>
        </div>
    }


</div>
    <!-- End ItemDetails-Page -->
    <script>
        const quantityInput = document.getElementById('quantity');
        const quantityDisplay = document.getElementById('quantity-display');
        const priceDispaly =document.getElementById('price-display');
        const pricePerUnit = @Html.DisplayFor(model => model.Price);
        quantityInput.addEventListener('input', function(){
            const quantity = quantityInput.value;
            quantityDisplay.textContent= quantity;
            const price = quantity * pricePerUnit;
            priceDispaly.textContent = price.toFixed(1) + " " + "ر.ي";
        })
    </script>
</body>
</html>